$dark: #131313;
$white: #ffffff;
$purple: #7749F8;
$purple-lighter: #9673FB;
$purple-light: #C3AEFF;
$purple-gradient: linear-gradient(109.62deg, $purple -8.62%, $purple-lighter -8.6%, $purple-lighter 93.01%, $purple-light 238.38%)