@import "@assets/scss/variables.scss";

.footer-container {
  background: $purple-gradient;

  h1,
  p,
  span {
    color: black;
  }

  a {
    padding-left: 8px;
    color: black;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;

    &:hover {
      color: $dark;
    }
  }

  .footer-title {
    font-weight: 550;
    font-size: 24px;
    padding-bottom: 32px;
  }

  .footer-contacts {
    div {
      padding-bottom: 24px;
    }
  }
}